.App {
    padding: 0;
    background: #f9f9f9;
    max-width: 768px;
    margin: 0 auto;
    /*height: 600px;*/
}

.App .courseTitleArea {
    background: white;
    display: flex;
    overflow: hidden;
    padding: 25px;
}

.leftCourseImg {
    /*border: 1px solid red;*/
    float: left;
    margin-right: 20px;
}

.rightTextDesc {
    /*border: 1px solid red;*/
    float: left;
}

.catalogList {
    /*margin-top: 10px;*/
    padding-left: 20px;
    background-color: white;
    max-width: 768px;
    margin: 10px auto;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    left: 0;
    /*top: 250px;*/
    top: 215px;
    bottom: 0;
}

.catalogList .catalogItem {
    height: 65px;
    border-bottom: 1px solid #ECECEC;
    display: flex;
    align-items: center;

}

.catalogList .catalogItem .textBox {

}

.goBookList {
    height: 40px;
    background-color: #6796F4;
    color: white;
    font-size: 18px;
    line-height: 40px;
    text-indent: 15px;
}